.thumbs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16;

    .thumbs {
        display: inline-flex;
        border-radius: 2;
        border: 1px solid #eaeaea;
        margin-bottom: 8;
        margin-right: 8;
        width: 100;
        height: 100;
        padding: 4;

        .thumb-inner {
            display: flex;
            min-width: 0;

            overflow: hidden img {
                display: block;
                width: auto;
                height: 100%
            }
        }
    }
}

.drop-file:hover {
    cursor: pointer;
}

.dropzone {
    display: flex;
    gap: 12px;
}

.show-img {
    width: 1000px;
}

.float-left {
    float: left;
}
// .input-image {
//     // float: left;
// }

.preview-image {
    width: 1000px;
}

.crop-controls {
    width: 500px;
    padding: 0 8px;

    float: left;
    margin-top: 20px;
}
.double-dropzone {
    display: table;
}
.uploadimg {
    float:none;
}
.double-upload-image {
    float: left;
}
.input-image {
    display: table;
}
.single-upload-image {
    float: left;
    .crop-controls{
        width: 400px;
    }
}
.image-input-container{
    display: table;
}
.dropzone-container {
    flex: 1;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #666161;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    margin-bottom: 12px;
    height: 100px;
}

.filename-container {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
        display: block;
        display: -webkit-box;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }
}

.settings-image {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;

    .icon {
        font-size: 20px;
        padding: 0 6px;
    }
}

.webcam-button {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;

    button {
        border: 1px solid black;
        border-radius: 20px;
        padding: 5px 0;
        background-color: transparent;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            border: 1px solid gray;
            background-color: gray;
            color: white;
        }

        &:focus {
            background-color: black;
            color: white;
        }
    }
}

.webcam {
    // max-width: 100%;
    flex: 1;
    // padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
    display: flex;
    gap: 12px;
    cursor: pointer;

    button {
        border: none;
        outline: none;
        background-color: #fafafa;
        color: #bdbdbd;
        cursor: pointer;
    }
}

.setting {
    display: table;
}

.ReactModal__Content.ReactModal__Content--after-open {
    position: relative;
}

.upload {
    float: left;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;

    .icon {
        font-size: 20px;
    }
}

.space {
    width: 100%;
}

.modal-container {
    float: left;
    // position: "relative"
    // display: table;
    width: 600px;
    // gap: 30px;
    // margin: 20px 8px;
}

.table {
    display: table;
}

.draw-mask {
    // width: 200px;
    padding: 0 8px;
    float: left;
}

.slider-container {
    max-width: 50%;
}

.submit-button {
    margin-top: 24px;
    padding: 12px;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    text-decoration: none;
    --tw-bg-opacity: 1;
    background-color:#0fa140;
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
    border-radius: 0.375rem;
    border-width: 1px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    width: 200px;
}

.zoom-container,
.rotate-container {
    display: flex;
    width: 100%;
    gap: 10px;

    .rotate-btn {
        background-color: black;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }

    button {
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 1150px) {
    .settings-image {
        display: block;

        .rotate-container {
            margin-top: 10px;
        }
    }
}

@media (max-width: 600px) {
    .marked-image-app {
        display: block;

        .input-container {
            max-width: 100%;
        }
    }
}